body {
  font-family: Arial;
}
.item {
  display: block;
}

.item__code {
  margin-right: 5px;
  font-weight: bold;
  display: inline-block;
}
.item__value {
  margin-right: 5px;
  display: inline-block;
}

.loader {
  width: 100px;
  display: none;
}
.loader_active {
  display: block;
}

.item__currency {
  display: inline-block;
  margin-right: 5px;
}

.item__block {
  display: block;
  margin-bottom: 10px;
}